/**** CASCADING STYLE SHEET ****/

/*
    IT IS NOT NECESSARY TO EDIT THIS FILE
    (but be very careful if you do)
*/

/**** Defaults for standard elements ****/

body {
	background-color: white;
	font-family: 'Raleway', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #222; 
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
    overflow-x: hidden; 
    box-sizing: border-box;
}

header {
	background-color: #222;
    height: calc(8vw + 40px);
    max-height: 140px;
    padding: 10px 30px 30px;
    box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 8w - 40px);
    min-height: calc(100vh - 140px);
    padding: 0px;
    box-sizing: border-box;
}

section {
    margin: 0px 0px 30px;
}

div {
    position: relative;
	margin: 0px;
	padding: 0px;
}

h1 {
    font-weight: normal; /* no artificial bolding */
}

p {
    margin: .5rem 0px; 
}

button {
    height: 2rem;
    color: white;
    font-size: 0.9rem;
    text-transform: uppercase;
    background-color: #222;
    border: none;
    border-radius: 5px;
    margin: 40px;
    padding: 5px 10px;
}

button:hover {
    cursor: pointer;
    opacity: 0.80;
}

button:focus {
    outline: 0;
}


/**** IDs for specific elements ****/

#page-title {
    color: white;
    font-family: 'Raleway Dots', sans-serif; /* TODO: replace this - don't like it after all */
    font-size: 8vw; /* responsive, relative to viewport width */
    max-width: 1200px; /* but limited in growth */
	text-align: center;
	margin: 0px auto;  
}

#kaleidoscope { /* the whole container of hexagons */
    display: flex;
    flex-direction: column;
    height: 540px;
    width: 540px;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px;
    cursor: pointer;
}

#button-container {
    display: flex;
    flex-direction: row;
    width: 100%; /* of column in main */
    justify-content: center;
}

#reset {
    background-color: #971b05;
    font-size: .8rem;
    height: 1.4rem;
    padding: 0.2rem 0.4rem;
    border-radius: 3px;

}

#reset:hover {
    background-color: #b62208;
    opacity: 1.0;
}

/**** Classes for custom styles ****/

.main-column {
    display: flex;
    flex-direction: column;
    min-height: 100%; /* of main */
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.width-25 {
    width: 25vw;
}

.width-15 {
    width: 15vw;
}

.width-60 {
    width: 60vw;
}

.container {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.hcenter {
    justify-content: center; /* applies to flexbox only */
}

.vcenter {
    align-items: center; /* applies to flexbox only */
}


/* COLOR SCHEMES */

.color-scheme-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 36px;
    margin: 0px;
    padding: 5px;
    cursor: pointer;
}

.color-block {
    background-color: white;  /* Default until user clicks button to get a random scheme */
    width: 20px;
    height: 20px;
    margin: 2px;
    border: 1px solid #CCC;
    cursor: pointer;
}


/* CURRENT COLOR SELECT */

.color-option {
    width: 50px;
    height: 50px;
    margin: 10px;
    border: 1px solid #CCC;
    cursor: pointer;
}


/* HEXAGONS */

.hex-row {
    display: flex;
    flex-wrap: nowrap; /* important to keep them in the hex grid */
    justify-content: center;
    align-items: center;
}

.hex-box {
    margin: 0px;
    height: 27px;
    width: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.hex-box:nth-child(odd) {
    margin-bottom: 4px;
}

.hex-box:nth-child(even) {
    margin-bottom: -26px;
}

.hexagon {
    overflow: hidden;
    position: absolute;
    height: 110%;
    width: 100%;
    top: -5%;
    left: 0;
    /* box-shadow: inset 0px 2px 2px 0px; */
    background-color: #222;
    transform:rotate(45.5deg) skew(16.5deg,15.5deg);  
}

.blank {
    overflow: hidden;
    position: absolute;
    height: 110%;
    width: 100%;
    top: -5%;
    left: 0;
    /* box-shadow: inset 0px 2px 2px 0px; */
    background-color: white;
    transform:rotate(45.5deg) skew(16.5deg,15.5deg);  
}

