/**** CASCADING STYLE SHEET ****/

/*
    IT IS NOT NECESSARY TO EDIT THIS FILE
    (but be very careful if you do)
*/

/**** Defaults for standard elements ****/

body {
	background-color: white;
	font-family: 'Roboto', sans-serif;
	font-size: 12pt;
	font-weight: 400;
	color: #222; 
	width: 100vw;
	height: 100vh;
	margin: 0px;
	padding: 0px;
    overflow-x: hidden; 
    box-sizing: border-box;
}

section {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 30px;
    padding: 30px;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 8w - 40px);
    min-height: calc(100vh - 140px);
    padding: 0px;
    box-sizing: border-box;
}

div {
    position: relative;
	margin: 0px;
	padding: 0px;
}

h1 {
    font-weight: 900;
}

p {
    margin: .5rem 0px; 
}


/**** IDs for specific elements ****/

#page-title {
    position: absolute;
    top: 50px;
    left: 50px;
    font-family: 'Righteous', sans-serif;
    font-size: 5vw;
    text-transform: uppercase;
    margin: 0px;  
}

#left-column {
    width: 35vw
}

#right-column {
    width: 65vw
}


#kaleidoscope { /* the whole container of hexagons */
    display: flex;
    flex-direction: column;
    height: 540px;
    width: 540px;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 60px;
    cursor: pointer;
}


/**** Classes for custom styles ****/

.width-25 {
    width: 25vw;
}

.width-10 {
    width: 10vw;
}

.container {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.hcenter {
    justify-content: center; /* applies to flexbox only */
}

.vcenter {
    align-items: center; /* applies to flexbox only */
}

.vhcenter {
    justify-content: center; /* applies to flexbox only */
    align-items: center; /* applies to flexbox only */
}

.pseudobutton {
    font-family: "Righteous", sans-serif;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    height: 1.4rem;
    width: 150px;
    margin: 15px 0px 0px;
    padding: 0.3rem 0.4rem;
    border: 2px solid white;
    cursor: pointer;
}


/* COLOR SCHEMES */

.color-scheme-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 30px;
    margin: 0px;
    padding: 0px;
    cursor: pointer;
}

.color-block {
    background-color: white;  /* Default until user clicks button to get a random scheme */
    width: 16px;
    height: 16px;
    margin: 0px 2px;
    border: 1px solid #eee;
    cursor: pointer;
}

.color-option {
    width: 40px;
    height: 40px;
    margin: 4px;
    border: 2px solid #eee;
    cursor: pointer;
}


/* HEXAGONS */

.hex-row {
    display: flex;
    flex-wrap: nowrap; /* important to keep them in the hex grid */
    justify-content: center;
    align-items: center;
}

.hex-box {
    margin: 0px;
    height: 27px;
    width: 30px;
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-right: -4px;
    vertical-align: middle;
}

.hex-box:nth-child(odd) {
    margin-bottom: 4px;
}

.hex-box:nth-child(even) {
    margin-bottom: -26px;
}

.hexagon {
    overflow: hidden;
    position: absolute;
    height: 110%;
    width: 100%;
    top: -5%;
    left: 0;
    background-color: #222;
    transform:rotate(45.5deg) skew(16.5deg,15.5deg);  
}

.blank {
    overflow: hidden;
    position: absolute;
    height: 110%;
    width: 100%;
    top: -5%;
    left: 0;
    background-color: white;
    transform:rotate(45.5deg) skew(16.5deg,15.5deg);  
}

